@model ThreeTierApp.Models.PageOf<ThreeTierApp.Models.ArticoloDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Edit")
</p>
<p>
    @Html.ActionLink("Create Categoria 1", "Edit", new { categoryId = 1 })
</p>
<table>
    <tr>
        <th>
            ArticoloId
        </th>
        <th>
            Descrizione
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Items) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ArticoloId)
            @*@Html.Display(typeof(ThreeTierApp.Models.Articolo).GetProperty("Codice").GetValue(item).ToString())*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descrizione)
        </td>
      <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ArticoloId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ArticoloId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArticoloId })
        </td>
    </tr>
}

</table>
@Model.Total items - Page @Model.PageNumber of @Model.PageCount
